
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
out/

.idea/

wwwroot/lib/
*.log
*.vsix

*.nupkg
packages/
.nuget/

.vscode/

.DS_Store
Thumbs.db

.idea/
*.sln.iml

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

Migrations/

appsettings.json
